@model RocketSystem.Models.ForgetQuestion

@{
    //ViewBag.Title = "UserSecurity";
    Layout = null;
}
<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <!--<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <link rel="icon" href="~/img/favicon.png" />
</head>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                <span class="login100-form-title p-b-49">
                    <h2>ユーザーセキュリティ</h2>
                </span>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span id="sq1">

                        </span>

                    </div>

                </div>

                <div class="form-group">
                    <i class="far fa-arrow-alt-circle-right"></i>
                    @Html.LabelFor(model => model.sq1, htmlAttributes: new { @class = "label-input100 col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.sq1, new { htmlAttributes = new { @class = "wrap-input100" } })
                        @Html.ValidationMessageFor(model => model.sq1, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <span id="sq2">

                        </span>

                    </div>

                </div>
                <div class="form-group">
                    <i class="far fa-arrow-alt-circle-right"></i>
                    @Html.LabelFor(model => model.sq2, htmlAttributes: new { @class = "label-input100 col-md-6" })
                    <div class="col-md-12">
                        @Html.EditorFor(model => model.sq2, new { htmlAttributes = new { @class = "wrap-input100" } })
                        @Html.ValidationMessageFor(model => model.sq2, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">

                        <span style="color:red;">@ViewBag.ermessage</span>
                    </div>

                </div>
                <div class="form-group">
                    <br />
                    <div class="col-md-offset-2 col-md-12">
                        @*<input type="submit" value="作成する" class="btn btn-default" />*@
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button class="login100-form-btn">
                                    作成する
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<!--===============================================================================================-->
<script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/bootstrap/js/popper.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/daterangepicker/moment.min.js"></script>
<script src="~/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/js/main.js"></script>

<script src="https://code.jquery.com/jquery-1.9.1.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        // alert("k");
        var serviceURL = '/Users/sQuectionResult';

        $.ajax({
            type: "POST",
            url: serviceURL,
            data: param = "",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: successFunc,
            error: errorFunc
        });

        function successFunc(data, status) {
            document.getElementById("sq1").innerHTML = data[0].securityQuestion1;
            document.getElementById("sq2").innerHTML = data[1].securityQuestion1;
        }
        function errorFunc() {
            alert('error');
        }
    });

</script>




